* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.section-3 {
    background-color: #566DFE;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.section-4 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding-top: 72px;
    padding-bottom: 42px;
}

.last-section {
    min-height: 50vh;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}



.container-1 {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* ---------------------------------------------------------------------section 1------------------------------------------------------------------------ */
.bg-1 {
    background-image: url(/assets/images/Rectangle\ 18.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg-2 {
    background-image: url(/assets/images/Rectangle\ 27.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.bg-2:after {
    position: absolute;
    content: "";
    background-color: #566DFE;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
}

.z-2 {
    z-index: 2;
}

.bg-1:after {
    content: "";
    position: absolute;
    background-color: #00000091;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

section>* {
    z-index: 1;
}


nav {
    padding-top: 20px;
}

.events {
    font-family: var(--poppins);
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

li {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

a {
    color: white;
}

.blue-line {
    position: relative;
}

.blue-line:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 8px;
    bottom: -14px;
    right: 0;
    background-color: #01C8FF;
}

.blue-line:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 8px;
    bottom: -14px;
    left: 0;
    background-color: #2C49FE;
}

.blue-line-2 {
    position: relative;
}

.blue-line-2:before {
    content: "";
    position: absolute;
    width: 190px;
    height: 8px;
    top: -18px;
    left: 0;
    background-color: #01C8FF;
}

.blue-line-2::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 8px;
    top: -18px;
    left: 0;
    background-color: #2C49FE;
}

.box-2 {
    width: 240px;
    height: 200px;
    border: 2px solid #2C49FE;
    padding-top: 45px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    color: #2C49FE;
}

.box-2:hover {
    color: white;
    background-color: #2C49FE;
    transition: all 100ms linear;
}


.circle {
    width: 79px;
    height: 79px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2C49FE;
    position: absolute;
    background-color: white;
    top: -40px;
    left: 32%;
    z-index: 2;
}

.sharing {
    font-family: var(--poppins);
    font-size: 25px;
    font-weight: 500;
}

.card-3:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
}

.social-media-links:hover {
    transform: scale(1.2);
    transition: all 100ms linear;
}

.button-5:hover {
    color: #0022ff;
    position: relative;
}

.button-5:hover:after {
    content: "";
    position: absolute;
    width: 107px;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: all 200ms linear;
}


/* -------------heading---------------- */
.heading {
    max-width: 1044px;
    width: 100%;
    height: 100%;
    font-family: var(--poppins);
    font-size: 34px;
    font-weight: 300;
    line-height: 48.32px;
    text-align: left;
    color: white;
}

.heading-2 {
    max-width: 583px;
    width: 100%;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}

.heading-3 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    max-width: 708px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.heading-4 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 700;
    line-height: 65.52px;
    text-align: left;

}

.heading-5 {
    font-family: var(--poppins);
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: left;

}

/* ------------------------------------------- */
.box {
    background-color: #3f50d0c0;
    max-width: 962px;
    width: 100%;
    height: 108px;
    border-radius: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}

.line {
    width: 4px;
    height: 70px;
    border: 3px;
    color: white;
    border: 3px solid #FFFFFF
}

.font-size {
    font-family: var(--yantramanav);
    font-size: 20px;
    font-weight: 500;
    line-height: 25.94px;
    text-align: left;
    color: white;
}

.number {
    font-family: var(--poppins);
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: left;
    color: white;
}

.date {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #4D4D4D;
}

.last-section li {
    color: white;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.last-section h4 {
    color: white;
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;

}

.text-left {
    text-align: left;
}

li:hover {
    transform: scale(1.2);
    transition: all 100ms linear;
}

.about {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
    max-width: 765px;
    height: 48px;
    width: 100%;
}


/* ----------------------------------------------------------------------para classes------------------------------------------------ */
.para {
    max-width: 765px;
    width: 100%;
    height: 100%;
    font-family: var(--yantramanav);
    font-size: 18px;
    font-weight: 300;
    line-height: 23.94px;
    text-align: left;
    color: white;
}

.para-2 {
    font-family: var(--yantramanav);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.16px;
    text-align: left;
    color: #C1C6EE;
}

.para-3 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    margin-top: 12px;
    margin-bottom: 46px;
}

.para-4 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
    margin-bottom: 78px;
    max-width: 765px;
    height: 48px;
    width: 100%;
}

.para-5 {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: white;
}

.para-6 {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    max-width: 346px;
    color: white;
    margin-top: 36px;
    margin-bottom: 20px;
}

.para-7 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 220px;
    height: 96px;
    width: 100%;
    padding-top: 2px;
}

.last-section {
    position: relative;
}

.last-section .para-bottom {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
}

/* ----------------------------------------------------------------------col-properties----------------------------------------------------------- */
.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    display: flex;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-right: 12px;
    padding-left: 12px;
}

/* ----------------------------------------------------------------------buttons ------------------------------------------------------------------------- */

.button-1 {
    width: 118px;
    height: 46px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 23px;
    border: none;
    color: white;
    background-color: #2C49FE;
    cursor: pointer;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}

.button-1:hover {
    color: blue;
    background-color: white;
    transition: all 300ms linear;
    transform: scale(1.2);
}

.button-2:hover {
    color: blue;
    background-color: white;
    transition: all 300ms linear;
}

.button-4:hover {
    color: white;
    background-color: blue;
    transition: all 300ms linear;
}


.button-2 {
    width: 172px;
    height: 52px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 28px;
    background-color: #2C49FE;
    color: white;
    border: none;
    cursor: pointer;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.button-3 {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

.button-4 {
    width: 185px;
    height: 70px;
    color: #2C49FE;
    border-radius: 150px;
    background-color: white;
    border: none;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;

}

.button-5 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background: none;
    border: none;
    margin-top: 14px;
    cursor: pointer;
}

.show-more-button {
    color: white;
    max-width: 90px;
    width: 100%;
    height: 62px;
    background-color: #18205C;
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ---------------card clsses------------------------- */

.card-3 {
    max-width: 339px;
    height: 354px;
    width: 100%;
    box-shadow: 2px 9px 32px 0px #0000000F;
    padding: 13px;
}

.card-head {
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;

}

.card-para {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4D4D4D;
    max-width: 270px;
    height: 72px;
    width: 100%;
}

.img-4 {
    max-width: 315px;
    height: 173px;
    width: 100%;
}

.first-name {
    border: 2px solid #00000066;
    max-width: 279px;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    padding-left: 12px;
}

.email {
    max-width: 574px;
    height: 42px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #00000066;
    padding-left: 12px;
}

.textarea {
    max-width: 574px;
    padding-top: 12px;
    height: 124px;
    border-radius: 5px;
    border: 2px solid #00000066;
    padding-left: 12px;
    resize: none;
}


/* ---------------------------------------------------------------------short cut class----------------------------------------------------------------- */

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.algn-left {
    text-align: left;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
    align-items: center;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-42 {
    margin-bottom: 42px;
}

.p-30 {
    padding: 30px;
}

.w-100 {
    width: 100%;
}

.position-rel {
    position: relative;
}

.position-fix {
    position: fixed;
    top: 0;
}

.cursor-pointer {
    cursor: pointer;
}

/* -------------------------------------------------------------------img--------------------------------------------------------------------- */
.logo {
    max-width: 98px;
    height: 49px;
}

.img-2 {
    max-width: 624.31px;
    height: 477.27px;
    width: 100%;
}

.img-3 {
    width: 100%;
}

.img-5 {
    width: 100%;

}

.img-width-100 {
    width: 100%;
    max-width: 90px;
    height: 62px;

}


@media (max-width:576px) {
    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        padding: 20px;
    }

    .col-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;

    }

    .blue-line:before {
        display: none;
    }

    .blue-line:after {
        display: none;
    }

    .sm-6-last {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .events {
        font-family: var(--poppins);
        font-size: 20px;
        font-weight: 700;
        line-height: 48.6px;
        color: #2C49FE;
    }

    .img-width-100 {
        width: 100%;
        max-width: 72px;
        height: 50px;
    }

}

@media (max-width:768px) {
    .sm-12 {
        display: flex;
        justify-content: center;
    }


}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        padding: 10px;
    }

    .heading {
        max-width: 1044px;
        width: 100%;
        height: 172px;
        font-family: var(--poppins);
        font-size: 44px;
        font-weight: 500;
        line-height: 70.32px;
        text-align: left;
        color: white;
    }

    .para {
        max-width: 765px;
        width: 100%;
        height: 100%;
        font-family: var(--yantramanav);
        font-size: 20px;
        font-weight: 400;
        line-height: 24.94px;
        text-align: left;
        color: white;
    }

}

@media (min-width:768px) {

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .bluebox::before {
        content: '';
        position: absolute;
        height: 0px;
        width: 0px;
        background-color: transparent;
        top: 50%;
    }

    .whiteline::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: white;
        right: 0%;
        bottom: 5px;
    }

    .heading {
        max-width: 1044px;
        width: 100%;
        height: 192px;
        font-family: var(--poppins);
        font-size: 60px;
        font-weight: 500;
        line-height: 80.32px;
        text-align: left;
        color: white;
    }

    .para {
        max-width: 765px;
        width: 100%;
        height: 78px;
        font-family: var(--yantramanav);
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.94px;
        text-align: left;

    }

    .button-4 {
        width: 185px;
        height: 70px;
        color: #2C49FE;
        border-radius: 150px;
        background-color: white;
        border: none;
        font-family: var(--poppins);
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        cursor: pointer;
        margin-top: 30px;
    }


}

@media (min-width:992px) {
    .whiteline-1::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: white;
        right: 0%;
        bottom: 5px;
    }

    .heading {
        max-width: 1044px;
        width: 100%;
        height: 192px;
        font-family: var(--poppins);
        color: white;
        font-size: 64px;
        font-weight: 700;
        line-height: 96.32px;
        text-align: left;

    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.button-4 {
    width: 185px;
    height: 70px;
    color: #2C49FE;
    border-radius: 150px;
    background-color: white;
    border: none;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
    margin: 0;
}


@media (max-width:992px) {
    ul {
        right: -100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 77px;
        width: 100%;
        height: 100%;
        text-align: left;
        gap: 0;
        color: black;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }

    .box {
        background-color: #3f50d0c0;
        max-width: 962px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        display: flex;
        margin-bottom: 20px;
    }

    .span {
        width: 35px;
        height: 3px;
        background-color: white;
        display: flex;
        margin-bottom: 5px;

    }

    .justify-center-992 {
        justify-content: center;
    }

    label {
        float: right;
        color: white;
        z-index: 5;
        padding-top: 22px;
    }

    .check:checked~ul {
        right: 0%;
        transition: all 300ms linear;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    nav a {
        color: black;
    }

}

@media (max-width:992px) {
    .col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;

    }

    .sm-center {
        display: flex;
        align-items: center;
        max-width: 100%;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .mb-sm-12 {
        margin-bottom: 12px;
    }

    .last-section .para-bottom {
        font-family: var(--poppins);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: white;
        bottom: 0;
        position: unset;
        padding-bottom: 10px;
    }
}